{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- sidebars -->



<!-- settings sidebar -->
<!-- ./ settings sidebar -->

<!-- search sidebar -->


<!-- menu -->
<div class="menu">
    <div class="menu-header">
        <a href="{% url 'home' %}" class="menu-header-logo">
            <img src="{% static '/logo.png' %}" alt="logo">
            <span>Ireme AI</span>
        </a>
        <a href="#" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        <div class="dropdown">
            <a href="{% url 'coming-soon' %}" class="d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="avatar me-3">
                    <img src="{{request.user.avatar.url}}"
                         class="rounded-circle" alt="image">
                </div>
                <div>
                    <div class="fw-bold">{{request.user.name}}</div>
                    <small class="text-muted">{{request.user.user_plan}}</small>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="{% url 'coming-soon' %}" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person dropdown-item-icon"></i> Profile
                </a>
                <a href="{% url 'coming-soon' %}" class="dropdown-item d-flex align-items-center" data-sidebar-target="#settings">
                    <i class="bi bi-gear dropdown-item-icon"></i> Settings
                </a>
                <a href="{% url 'logout' %}" class="dropdown-item d-flex align-items-center text-danger"
                   target="_blank">
                    <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
                </a>
            </div>
        </div>
        <ul>
            <li class="menu-divider">Dashboard</li>
            <li>
                <a   href="{% url 'home' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-bar-chart"></i>
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <span class="nav-link-icon">
                        <i class="bi bi-file-earmark-medical"></i>
                    </span>
                    <span>My Documents</span>
                </a>
                <ul>
                    <li>
                        <a  href="{% url 'view-files-list' %}">List view</a>
                    </li>
                    <li>
                        <a  href="{% url 'view-files' %}">Grid view</a>
                    </li>
                </ul>
            </li>
            <li>
                <a  href="{% url 'search' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <span>Search Page</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'coming-soon' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-wallet2"></i>
                    </span>
                    <span>Subscriptions</span>
                </a>
                
            </li>
            <li class="menu-divider">Customer Services</li>
            <li>
                <a  href="{% url 'coming-soon' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-file-earmark-medical"></i>
                    </span>
                    <span>User Guide</span>
                    
                </a>
            </li>
            <li>
                <a href="{% url 'pricing' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-wallet2"></i>
                    </span>
                    <span>Pricing Table</span>
                </a>
                
            </li>
            <li>
                <a href="{% url 'coming-soon' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-check-circle"></i>
                    </span>
                    <span>Customer Support</span>
                </a>
                
            </li>
            <li>
                <a  href="{% url 'coming-soon' %}">
                    <span class="nav-link-icon">
                        <i class="bi bi-question-circle"></i>
                    </span>
                    <span>FAQ</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./  menu -->

<!-- layout-wrapper -->
<div class="layout-wrapper">

    <!-- header -->
    <div class="header">
    <div class="menu-toggle-btn"> <!-- Menu close button for mobile devices -->
        <a href="#">
            <i class="bi bi-list"></i>
        </a>
    </div>
    <!-- Logo -->
    <a href="./dashboard.html" class="logo">
        <img width="100" src="{% static '/logo.png' %}" alt="logo">
    </a>
    <!-- ./ Logo -->
    <div class="page-title">Document Details</div>
    <form class="search-form">
        <div class="input-group">
            <button class="btn btn-outline-light" type="button" id="button-addon1">
                <i class="bi bi-search"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search..."
                   aria-label="Example text with button addon" aria-describedby="button-addon1">
            <a href="#" class="btn btn-outline-light close-header-search-bar">
                <i class="bi bi-x"></i>
            </a>
        </div>
    </form>
    <a href="{% url 'upload-file' %}">
        <button class="btn btn-primary btn-icon">
            <i class="bi bi-upload"></i> Upload Document
            </button>
    </a>
    <!-- Header mobile buttons -->
    <div class="header-mobile-buttons">
        <a href="#" class="search-bar-btn">
            <i class="bi bi-search"></i>
        </a>
        <a href="#" class="actions-btn">
            <i class="bi bi-three-dots"></i>
        </a>
    </div>
    <!-- ./ Header mobile buttons -->
</div>
    <!-- ./ header -->

    <!-- content -->
    <div class="content ">
        
    <div class="mb-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="bi bi-globe2 small me-2"></i> Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Documents View</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">

            </div>
            <div class="row g-4">
                {% for file in files %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card-hover">
                        <div class="card-body">
                            <a href="#">
                                <h5 class="card-title mb-3">{{file.fname}}</h5>
                            </a>
                            <a href="{% url 'delete-file' file.id %}" class="text-danger me-3" title="Remove">
                                <i class="bi bi-trash"></i>
                            </a>
                            
                            <a href="#">
                                <img src="{{ image_url }}" class="card-img-top" alt="file cover" style="width: 80px; height: auto;">
                            </a>
                            
                            <div class="d-flex gap-2 mb-3 mr-1">
                                <span>{{file.file_size}} MB</span>
                            </div>
                            <div class="d-flex">
                                <a href="{% url 'file-details' file.id %}" class="btn btn-primary">View</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <nav class="mt-5" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    </div>
    <!-- ./ content -->

    <!-- content-footer -->
    <footer class="content-footer">
        <div><a href="https://ireme-ai.vercel.app" target="_blank">Ireme AI</a> © 2024</div>
        <div>
            <nav class="nav gap-4">
                <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                <a href="#" class="nav-link">Change Log</a>
                <a href="#" class="nav-link">Get Help</a>
            </nav>
        </div>
    </footer>
    <!-- ./ content-footer -->

</div>
<!-- ./ layout-wrapper -->

{% endblock content %}